In [ ]:
'''
数值计算和统计基础
常用数学、统计方法
'''

In [2]:
# 基本参数:axis、skipna
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1': [4, 5, 3, np.nan, 2],
             'key2': [1, 2, np.nan, 4, 5],
             'key3': [1, 2, 3, 'j', 'k']},
              index=list('abcde'))
print(df)
print(df['key1'].dtype, df['key2'].dtype, df['key3'].dtype)
print('------------------------------')

m1 = df.mean()
print(m1, type(m1))
print('单独统计1列:', df['key2'].mean())
print('------------------------------')
# np.nan:空值
# .mean()计算均值
# 只统计数字列
# 可以通过索引单独统计一列

m2 = df.mean(axis=1)
print(m2)
print('-------------------------------')
# axis参数:默认为0，以列来计算，axis=1，以行来计算，这里就按照行来汇总

m3 = df.mean(skipna=False)
print(m3)
# skipna参数:是否忽略NaN,默认为True,如果是False,有NaN的列统计结果仍为NaN

   key1  key2 key3
a   4.0   1.0    1
b   5.0   2.0    2
c   3.0   NaN    3
d   NaN   4.0    j
e   2.0   5.0    k
float64 float64 object
------------------------------
key1    3.5
key2    3.0
dtype: float64 <class 'pandas.core.series.Series'>
单独统计1列: 3.0
------------------------------
a    2.5
b    3.5
c    3.0
d    4.0
e    3.5
dtype: float64
-------------------------------
key1   NaN
key2   NaN
dtype: float64

In [4]:
# 主要数学计算方法，可用于Series和DataFrame(1)
df = pd.DataFrame({'key1': np.arange(10),
                  'key2': np.random.rand(10) * 10})
print(df)
print('---------------------------')

print(df.count(),'count统计非Na值的数量\n')
print(df.min(), 'min统计最小值\n', df['key2'].max(), 'max统计最大值')
print(df.quantile(q=0.75), 'quantile统计分位数，参数q确定位置')
print(df.sum(), 'sum求和')
print(df.mean(), 'mean求平均数')
print(df.median(), 'median求算数中位数，50%分位数')
print(df.std(), 'std求标准差', df.var(), 'var求方差')
print(df.skew(), 'skew求偏度')
print(df.kurt(), 'kurt求峰度')

   key1     key2
0     0 3.426859
1     1 3.047180
2     2 0.149669
3     3 6.347958
4     4 8.666424
5     5 8.077811
6     6 0.260685
7     7 2.482902
8     8 4.478331
9     9 2.262978
---------------------------
key1    10
key2    10
dtype: int64 count统计非Na值的数量

key1   0.000000
key2   0.149669
dtype: float64 min统计最小值
 8.666423850372603 max统计最大值
key1   6.750000
key2   5.880552
Name: 0.75, dtype: float64 quantile统计分位数，参数q确定位置
key1   45.000000
key2   39.200796
dtype: float64 sum求和
key1   4.500000
key2   3.920080
dtype: float64 mean求平均数
key1   4.500000
key2   3.237019
dtype: float64 median求算数中位数，50%分位数
key1   3.027650
key2   2.971057
dtype: float64 std求标准差 key1   9.166667
key2   8.827179
dtype: float64 var求方差
key1   0.000000
key2   0.436249
dtype: float64 skew求偏度
key1   -1.200000
key2   -0.879898
dtype: float64 kurt求峰度

In [5]:
# 主要数学计算方法，可用于Series和DataFrame(2)
pd.set_option('display.float_format',lambda x : '%.6f' % x)
df['key1_s'] = df['key1'].cumsum()
df['key2_s'] = df['key2'].cumsum()
print(df, "cumsum计算样本的累计和")
print('-' * 88)

df['key1_p'] = df['key1'].cumprod()
df['key2_p'] = df['key2'].cumprod()
print(df, 'cumprod样本的累计积')
print("-" * 88)

print(df.cummax(), 'cummax求累计最大值\n', df.cummin(), 'cummin求累计最小值')

   key1     key2  key1_s    key2_s
0     0 3.426859       0  3.426859
1     1 3.047180       1  6.474039
2     2 0.149669       3  6.623707
3     3 6.347958       6 12.971666
4     4 8.666424      10 21.638090
5     5 8.077811      15 29.715900
6     6 0.260685      21 29.976585
7     7 2.482902      28 32.459487
8     8 4.478331      36 36.937818
9     9 2.262978      45 39.200796 cumsum计算样本的累计和
----------------------------------------------------------------------------------------
   key1     key2  key1_s    key2_s  key1_p      key2_p
0     0 3.426859       0  3.426859       0    3.426859
1     1 3.047180       1  6.474039       0   10.442255
2     2 0.149669       3  6.623707       0    1.562878
3     3 6.347958       6 12.971666       0    9.921083
4     4 8.666424      10 21.638090       0   85.980310
5     5 8.077811      15 29.715900       0  694.532671
6     6 0.260685      21 29.976585       0  181.054112
7     7 2.482902      28 32.459487       0  449.539541
8     8 4.478331      36 36.937818       0 2013.187045
9     9 2.262978      45 39.200796       0 4555.797414 cumprod样本的累计积
----------------------------------------------------------------------------------------
      key1     key2    key1_s    key2_s   key1_p      key2_p
0 0.000000 3.426859  0.000000  3.426859 0.000000    3.426859
1 1.000000 3.426859  1.000000  6.474039 0.000000   10.442255
2 2.000000 3.426859  3.000000  6.623707 0.000000   10.442255
3 3.000000 6.347958  6.000000 12.971666 0.000000   10.442255
4 4.000000 8.666424 10.000000 21.638090 0.000000   85.980310
5 5.000000 8.666424 15.000000 29.715900 0.000000  694.532671
6 6.000000 8.666424 21.000000 29.976585 0.000000  694.532671
7 7.000000 8.666424 28.000000 32.459487 0.000000  694.532671
8 8.000000 8.666424 36.000000 36.937818 0.000000 2013.187045
9 9.000000 8.666424 45.000000 39.200796 0.000000 4555.797414 cummax求累计最大值
       key1     key2   key1_s   key2_s   key1_p   key2_p
0 0.000000 3.426859 0.000000 3.426859 0.000000 3.426859
1 0.000000 3.047180 0.000000 3.426859 0.000000 3.426859
2 0.000000 0.149669 0.000000 3.426859 0.000000 1.562878
3 0.000000 0.149669 0.000000 3.426859 0.000000 1.562878
4 0.000000 0.149669 0.000000 3.426859 0.000000 1.562878
5 0.000000 0.149669 0.000000 3.426859 0.000000 1.562878
6 0.000000 0.149669 0.000000 3.426859 0.000000 1.562878
7 0.000000 0.149669 0.000000 3.426859 0.000000 1.562878
8 0.000000 0.149669 0.000000 3.426859 0.000000 1.562878
9 0.000000 0.149669 0.000000 3.426859 0.000000 1.562878 cummin求累计最小值

In [31]:
# 唯一值:.unique()
s = pd.Series(list('asdvasdcfgg'))
sq = s.unique()
print(s)
print('-' * 88)
print(sq, type(sq))
print('-' * 88)
print(pd.Series(sq))
# 得到一个唯一值数组
# 通过pd.Series重新变成新的Series
print('-' * 88)

sq.sort()
print(sq)
# 重新排序

0     a
1     s
2     d
3     v
4     a
5     s
6     d
7     c
8     f
9     g
10    g
dtype: object
----------------------------------------------------------------------------------------
['a' 's' 'd' 'v' 'c' 'f' 'g'] <class 'numpy.ndarray'>
----------------------------------------------------------------------------------------
0    a
1    s
2    d
3    v
4    c
5    f
6    g
dtype: object
----------------------------------------------------------------------------------------
['a' 'c' 'd' 'f' 'g' 's' 'v']

In [33]:
# 值计数:.value_counts()
sc = s.value_counts(sort=False)  # 也可以写成pd.value_counts(s, sort=False)
print(sc)
# 得到一个新的Series,计算出不同值出现的频率
# sort参数:排序，默认为True

c    1
d    2
f    1
v    1
a    2
g    2
s    2
dtype: int64

In [38]:
# 成员资格:isin()
s = pd.Series(np.arange(10, 15))
print(s)
print('-' * 88)
df = pd.DataFrame({'key1':list('asdcbvasd'),'key2':np.arange(4, 13)})
print(df)
print('-' * 88)

print(s.isin([5,14]))
print(df.isin(['a', 'bc', '10', 8]))
# 用[]表示
# 得到一个布尔值的Series或者DataFrame

0    10
1    11
2    12
3    13
4    14
dtype: int64
----------------------------------------------------------------------------------------
  key1  key2
0    a     4
1    s     5
2    d     6
3    c     7
4    b     8
5    v     9
6    a    10
7    s    11
8    d    12
----------------------------------------------------------------------------------------
0    False
1    False
2    False
3    False
4     True
dtype: bool
    key1   key2
0   True  False
1  False  False
2  False  False
3  False  False
4  False   True
5  False  False
6   True  False
7  False  False
8  False  False

In [ ]:
'''
文本数据
Pandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作
'''

In [45]:
# 通过str访问，且自动排除丢失/NA值
s = pd.Series(['A', 'b', 'c', 'bbhello', '123', np.nan, 'hj'])
print(s)
print('-' * 88)
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2': ['hee', 'fv', 'w', 'hija', '123', np.nan]})
print(df)
print('-' * 88)
print(s.str.count('b'))
print('-' * 88)
print(df['key2'].str.upper())
# 直接通过.str调用字符串方法
# 可以对Series、DataFrame使用
# 自动过滤NaN值

print('-' * 88)
df.columns = df.columns.str.upper()
print(df)
# df.columns是一个Index对象，也可以使用.str

0          A
1          b
2          c
3    bbhello
4        123
5        NaN
6         hj
dtype: object
----------------------------------------------------------------------------------------
  key1  key2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN
----------------------------------------------------------------------------------------
0   0.00
1   1.00
2   0.00
3   2.00
4   0.00
5    nan
6   0.00
dtype: float64
----------------------------------------------------------------------------------------
0     HEE
1      FV
2       W
3    HIJA
4     123
5     NaN
Name: key2, dtype: object
----------------------------------------------------------------------------------------
  KEY1  KEY2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN

In [48]:
# 字符串常用方法(1)-lower、upper、len、startswith，endswith
s = pd.Series(['A', 'b', 'bbhello', '123', np.nan])

print(s.str.lower(), 'lower小写')
print(s.str.upper(), 'upper大写')
print(s.str.len(), 'len字符长度')
print(s.str.startswith('b'), '判断起始是否为a')
print(s.str.endswith('3'), '判断结束是否为3')

0          a
1          b
2    bbhello
3        123
4        NaN
dtype: object lower小写
0          A
1          B
2    BBHELLO
3        123
4        NaN
dtype: object upper大写
0   1.00
1   1.00
2   7.00
3   3.00
4    nan
dtype: float64 len字符长度
0    False
1     True
2     True
3    False
4      NaN
dtype: object 判断起始是否为a
0    False
1    False
2    False
3     True
4      NaN
dtype: object 判断结束是否为3

In [9]:
# 字符串常用方法(2)-strip
s = pd.Series([' jack', 'jill ', ' jesse ', 'frank'])
print(s)
print('-' * 88)
df = pd.DataFrame(np.random.rand(3, 2), columns=[' Column A ', ' Column B '], index=range(3))
print(df)
print('-' * 88)
print(s.str.strip())  # 去除字符串中的空格
print(s.str.lstrip())  # 去除字符串中的左空格
print(s.str.rstrip())  # 去除字符串中的右空格
print('-' * 88)

df.columns = df.columns.str.strip()
print(df)
# 这里去除了columns的前后空格，但没有去掉中间空格

0       jack
1      jill
2     jesse
3      frank
dtype: object
----------------------------------------------------------------------------------------
    Column A    Column B
0    0.001136    0.701409
1    0.579110    0.139003
2    0.405781    0.974717
----------------------------------------------------------------------------------------
0     jack
1     jill
2    jesse
3    frank
dtype: object
0      jack
1     jill
2    jesse
3     frank
dtype: object
0      jack
1      jill
2     jesse
3     frank
dtype: object
----------------------------------------------------------------------------------------
   Column A  Column B
0  0.001136  0.701409
1  0.579110  0.139003
2  0.405781  0.974717

In [12]:
# 字符串常用方法(3)-replace
df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                 index=range(3))
df.columns = df.columns.str.replace(' ', '-')
print(df)
# 替换

df.columns = df.columns.str.replace('-', 'hehe', n=1)
print(df)
# n:替换个数

   -Column-A-  -Column-B-
0    0.391491    0.534992
1   -0.929818    0.258112
2   -0.464130    0.835723
   heheColumn-A-  heheColumn-B-
0       0.391491       0.534992
1      -0.929818       0.258112
2      -0.464130       0.835723

In [23]:
# 字符串常用方法(4)-split、rsplit
s = pd.Series(['a, b, c', '1, 2, 3', ['a,,,c'], np.nan])
print(s)
print('-' * 88)
print(s.str.split(','))
print('-' * 88)
print(s.str.split(',').str[0])
print('-' * 88)
print(s.str.split(',').str.get(1))
print('-' * 88)
# 可以使用get或[]符号访问拆分列表中的元素

print(s.str.split(',', expand=True))
print('-' * 88)
print(s.str.split(',', expand=True, n=1))
print('-' * 88)
print(s.str.rsplit(',', expand=True, n=1))
print('-' * 88)
# 可以使用expand可以轻松扩展此操作以返回dataframe
# n参数限制分割次数
# rsplit类似于split,反向工作，即从字符串的末尾到字符串的开头

df = pd.DataFrame({'key1': ['a,b,c', '1, 2, 3', [':,., ']],
                  'key2':['a-b-c', '1-2-3', [':-.- ']]})
print(df)
print('-' * 88)
print(df['key2'].str.split('-'))
# DataFrame使用split

0    a, b, c
1    1, 2, 3
2    [a,,,c]
3        NaN
dtype: object
----------------------------------------------------------------------------------------
0    [a,  b,  c]
1    [1,  2,  3]
2            NaN
3            NaN
dtype: object
----------------------------------------------------------------------------------------
0      a
1      1
2    NaN
3    NaN
dtype: object
----------------------------------------------------------------------------------------
0      b
1      2
2    NaN
3    NaN
dtype: object
----------------------------------------------------------------------------------------
     0    1    2
0    a    b    c
1    1    2    3
2  NaN  NaN  NaN
3  NaN  NaN  NaN
----------------------------------------------------------------------------------------
     0      1
0    a   b, c
1    1   2, 3
2  NaN    NaN
3  NaN    NaN
----------------------------------------------------------------------------------------
      0    1
0  a, b    c
1  1, 2    3
2   NaN  NaN
3   NaN  NaN
----------------------------------------------------------------------------------------
      key1     key2
0    a,b,c    a-b-c
1  1, 2, 3    1-2-3
2  [:,., ]  [:-.- ]
----------------------------------------------------------------------------------------
0    [a, b, c]
1    [1, 2, 3]
2          NaN
Name: key2, dtype: object

In [30]:
# 字符串索引
s = pd.Series(['A', 'b', 'C', 'bbhello', '123', np.nan, 'hj'])
df = pd.DataFrame({'key1': list('abcdef'),
                  'key2': ['hee', 'fv', 'w', 'hija', '123', np.nan]})
print(s)
print('-' * 88)
print(df)
print('-' * 88)
print(s.str[0])  # 取第一个字符串
print('-' * 88)
print(s.str[:2])  # 取前两个字符串
print('-' * 88)
print(df['key2'].str[0])

0          A
1          b
2          C
3    bbhello
4        123
5        NaN
6         hj
dtype: object
----------------------------------------------------------------------------------------
  key1  key2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN
----------------------------------------------------------------------------------------
0      A
1      b
2      C
3      b
4      1
5    NaN
6      h
dtype: object
----------------------------------------------------------------------------------------
0      A
1      b
2      C
3     bb
4     12
5    NaN
6     hj
dtype: object
----------------------------------------------------------------------------------------
0      h
1      f
2      w
3      h
4      1
5    NaN
Name: key2, dtype: object

In [ ]:
'''
合并 merge、join
Pandas具有全功能的，高性能内存中连接操作，与sql等关系数据库非常相似
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False)
'''

In [37]:
# merge合并
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
print(df1)
print('-' * 88)
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
print(df2)
print('-' * 88)
print('df1和df2合并:')
print(pd.merge(df1, df2, on='key'))
print('-' * 88)


df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
print(df3)
print('-' * 88)
df4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
print(df4)
print('-' * 88)
# 多个链接键
print(pd.merge(df3, df4, on=['key1', 'key2']))

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3
----------------------------------------------------------------------------------------
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3
----------------------------------------------------------------------------------------
df1和df2合并:
  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3
----------------------------------------------------------------------------------------
  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
----------------------------------------------------------------------------------------
  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3
----------------------------------------------------------------------------------------
  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [42]:
# 参数how:合并方式
print(pd.merge(df3, df4, on=['key1', 'key2'], how='inner'))
# 默认inner，取交集
print('-' * 88)

print(pd.merge(df3, df4, on=['key1', 'key2'], how='outer'))
# outer:取并集，数据缺失范围NaN
print('-' * 88)

print(pd.merge(df3, df4, on=['key1', 'key2'], how='left'))
# left:按照df3为参考进行合并，数据缺失为NaN
print('-' * 88)

print(pd.merge(df3, df4, on=['key1', 'key2'], how='right'))
# right:按照df4为参考进行合并，数据缺失为NaN
print('-' * 88)

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2
----------------------------------------------------------------------------------------
  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3
----------------------------------------------------------------------------------------
  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN
----------------------------------------------------------------------------------------
  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3
----------------------------------------------------------------------------------------

In [47]:
# 参数left_on, right_on, left_index, right_index:当键不为一个列时，可以单独设置左键与右键
df1 = pd.DataFrame({'lkey':list('bbacaab'),
                   'data1':range(7)})
df2 = pd.DataFrame({'rkey':list('abd'),
                   'date2':range(3)})
print(df1)
print('-' * 88)
print(df2)
print('-' * 88)
print(pd.merge(df1, df2, left_on='lkey', right_on='rkey'))
print('-' * 88)

df1 = pd.DataFrame({'key':list('abcdfeg'),
                   'data1':range(7)})
df2 = pd.DataFrame({'date2':range(100,105)},
                  index = list('abcde'))
print(df1)
print('-' * 88)
print(df2)
print('-' * 88)
print(pd.merge(df1, df2, left_on='key', right_index=True))
print('-' * 88)

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6
----------------------------------------------------------------------------------------
  rkey  date2
0    a      0
1    b      1
2    d      2
----------------------------------------------------------------------------------------
  lkey  data1 rkey  date2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0
----------------------------------------------------------------------------------------
  key  data1
0   a      0
1   b      1
2   c      2
3   d      3
4   f      4
5   e      5
6   g      6
----------------------------------------------------------------------------------------
   date2
a    100
b    101
c    102
d    103
e    104
----------------------------------------------------------------------------------------
  key  data1  date2
0   a      0    100
1   b      1    101
2   c      2    102
3   d      3    103
5   e      5    104
----------------------------------------------------------------------------------------

In [53]:
# 参数sort
df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
print(df1)
print('-' * 88)
print(df2)
print('-' * 88)
print(pd.merge(df1, df2, on='key', sort=True, how='outer'))
print('-' * 88)
dfm = pd.merge(df1, df2, on='key', how='outer')
print(dfm)
print('-' * 88)
# 也可以通过DataFrame的排序方法:sort_values,sort_index
print(dfm.sort_values('data1'))

  key  data1
0   b      1
1   b      3
2   a      2
3   c      4
4   a      5
5   a      9
6   b      7
----------------------------------------------------------------------------------------
  key  date2
0   a     11
1   b      2
2   d     33
----------------------------------------------------------------------------------------
  key    data1     date2
0   a 2.000000 11.000000
1   a 5.000000 11.000000
2   a 9.000000 11.000000
3   b 1.000000  2.000000
4   b 3.000000  2.000000
5   b 7.000000  2.000000
6   c 4.000000       nan
7   d      nan 33.000000
----------------------------------------------------------------------------------------
  key    data1     date2
0   b 1.000000  2.000000
1   b 3.000000  2.000000
2   b 7.000000  2.000000
3   a 2.000000 11.000000
4   a 5.000000 11.000000
5   a 9.000000 11.000000
6   c 4.000000       nan
7   d      nan 33.000000
----------------------------------------------------------------------------------------
  key    data1     date2
0   b 1.000000  2.000000
3   a 2.000000 11.000000
1   b 3.000000  2.000000
6   c 4.000000       nan
4   a 5.000000 11.000000
2   b 7.000000  2.000000
5   a 9.000000 11.000000
7   d      nan 33.000000

In [62]:
# pd.join():直接通过索引链接
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
print(left)
print('-' * 88)
print(right)
print('-' * 88)
print(left.join(right))
print('-' * 88)
print(left.join(right, how='outer'))
print('-' * 88)

df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
print(df1)
print('-' * 88)
print(df2)
print('-' * 88)
print(pd.merge(df1, df2, left_index=True, right_index=True, suffixes=('_1', '_2')))
print('-' * 88)
print(df1.join(df2['date2']))
print('-' * 88)

left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})
right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                     index=['K0', 'K1'])
print(left)
print('-' * 88)
print(right)
print('-' * 88)
print(left.join(right, on='key'))

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
----------------------------------------------------------------------------------------
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
----------------------------------------------------------------------------------------
     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2
----------------------------------------------------------------------------------------
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3
----------------------------------------------------------------------------------------
  key  data1
0   b      1
1   b      3
2   a      2
3   c      4
4   a      5
5   a      9
6   b      7
----------------------------------------------------------------------------------------
  key  date2
0   a     11
1   b      2
2   d     33
----------------------------------------------------------------------------------------
  key_1  data1 key_2  date2
0     b      1     a     11
1     b      3     b      2
2     a      2     d     33
----------------------------------------------------------------------------------------
  key  data1     date2
0   b      1 11.000000
1   b      3  2.000000
2   a      2 33.000000
3   c      4       nan
4   a      5       nan
5   a      9       nan
6   b      7       nan
----------------------------------------------------------------------------------------
    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1
----------------------------------------------------------------------------------------
     C   D
K0  C0  D0
K1  C1  D1
----------------------------------------------------------------------------------------
    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [ ]:
'''
连接与修补 concat、combine_first
连接-沿轴执行连接操作
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)
'''

In [78]:
# 连接:concat
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([2, 3, 4])
print(s1)
print('-' * 88)
print(s2)
print('-' * 88)
print(pd.concat([s1, s2]))
print('-' * 88)
s3 = pd.Series([1,2,3],index = ['a','c','h'])
s4 = pd.Series([2,3,4],index = ['b','e','d'])
print(s3)
print('-' * 88)
print(s4)
print('-' * 88)
print(pd.concat([s3, s4]).sort_index())
print('-' * 88)
# 默认axis=0, 行+行

print(pd.concat([s3, s4], axis=1, sort=True).reindex(['a', 'b', 'd']))

0    1
1    2
2    3
dtype: int64
----------------------------------------------------------------------------------------
0    2
1    3
2    4
dtype: int64
----------------------------------------------------------------------------------------
0    1
1    2
2    3
0    2
1    3
2    4
dtype: int64
----------------------------------------------------------------------------------------
a    1
c    2
h    3
dtype: int64
----------------------------------------------------------------------------------------
b    2
e    3
d    4
dtype: int64
----------------------------------------------------------------------------------------
a    1
b    2
c    2
d    4
e    3
h    3
dtype: int64
----------------------------------------------------------------------------------------
         0        1
a 1.000000      nan
b      nan 2.000000
d      nan 4.000000

In [81]:
# 连接方式:join, join_axes
s5 = pd.Series([1,2,3],index = ['a','b','c'])
s6 = pd.Series([2,3,4],index = ['b','c','d'])
print(s5)
print('-' * 88)
print(s6)
print('-' * 88)
print(pd.concat([s5, s6], axis=1, sort=True))
print('-' * 88)
print(pd.concat([s5, s6], axis=1, sort=True, join='inner'))
print('-' * 88)
print(pd.concat([s5, s6], axis=1, sort=True).reindex(['a', 'b', 'd']))

a    1
b    2
c    3
dtype: int64
----------------------------------------------------------------------------------------
b    2
c    3
d    4
dtype: int64
----------------------------------------------------------------------------------------
         0        1
a 1.000000      nan
b 2.000000 2.000000
c 3.000000 3.000000
d      nan 4.000000
----------------------------------------------------------------------------------------
   0  1
b  2  2
c  3  3
----------------------------------------------------------------------------------------
         0        1
a 1.000000      nan
b 2.000000 2.000000
d      nan 4.000000

In [94]:
# 覆盖列名
sre = pd.concat([s5, s6], keys=['one', 'two'])
print(sre, type(sre))
print(sre.index)
print('-' * 88)
# keys:序列，默认值无。使用传递的键作为最外层的构建层次索引

sre = pd.concat([s5, s6], axis=1, sort=True, keys=['one', 'two'])
print(sre, type(sre))
# axis=1的时候，覆盖列名

one  a    1
     b    2
     c    3
two  b    2
     c    3
     d    4
dtype: int64 <class 'pandas.core.series.Series'>
MultiIndex([('one', 'a'),
            ('one', 'b'),
            ('one', 'c'),
            ('two', 'b'),
            ('two', 'c'),
            ('two', 'd')],
           )
----------------------------------------------------------------------------------------
       one      two
a 1.000000      nan
b 2.000000 2.000000
c 3.000000 3.000000
d      nan 4.000000 <class 'pandas.core.frame.DataFrame'>

In [98]:
# 修补 pd.combine_first()
df1 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan], [np.nan, 7., np.nan]])
print(df1)
print('-' * 88)
df2 = pd.DataFrame([[-42.6, np.nan, -8.2], [-5., 1.6, 4]], index=[1, 2])
print(df2)
print('-' * 88)
print(df1.combine_first(df2))
print('-' * 88)
# 根据index,df1的空值被df2替代
# 如果df2的index多于df1,z则更新到df1上，比如index=['a', 1]

df1.update(df2)
print(df1)
# update:直接df2覆盖df1的相同index位置

          0        1        2
0       nan 3.000000 5.000000
1 -4.600000      nan      nan
2       nan 7.000000      nan
----------------------------------------------------------------------------------------
           0        1         2
1 -42.600000      nan -8.200000
2  -5.000000 1.600000  4.000000
----------------------------------------------------------------------------------------
          0        1         2
0       nan 3.000000  5.000000
1 -4.600000      nan -8.200000
2 -5.000000 7.000000  4.000000
----------------------------------------------------------------------------------------
           0        1         2
0        nan 3.000000  5.000000
1 -42.600000      nan -8.200000
2  -5.000000 1.600000  4.000000

In [ ]:
'''
去重及替换
.duplicated/ .replace
'''

In [106]:
s = pd.Series([1, 1, 1, 1, 2, 2, 2, 3, 4, 5, 5, 5, 5])
print(s.duplicated())
print(s[s.duplicated() == False])
print('-' * 88)
# 判断是否重复
# 通过布尔判断，得到不重复的值

s_re = s.drop_duplicates()
print(s_re)
print('-' * 88)
# drop_duplicates()移除重复
# inplace:参数，是否替换原值，默认为False

df = pd.DataFrame({'key1':['a','a',3,4,5],
                  'key2':['a','a','b','b','c']})
print(df)
print(df.duplicated())
print(df['key2'].duplicated())
print(df.drop_duplicates())
# dataframe中使用duplicated

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8     False
9     False
10     True
11     True
12     True
dtype: bool
0    1
4    2
7    3
8    4
9    5
dtype: int64
----------------------------------------------------------------------------------------
0    1
4    2
7    3
8    4
9    5
dtype: int64
----------------------------------------------------------------------------------------
  key1 key2
0    a    a
1    a    a
2    3    b
3    4    b
4    5    c
0    False
1     True
2    False
3    False
4    False
dtype: bool
0    False
1     True
2    False
3     True
4    False
Name: key2, dtype: bool
  key1 key2
0    a    a
2    3    b
3    4    b
4    5    c

In [111]:
# 替换 .replace

s = pd.Series(list('ascaazsd'))
print(s)
print('-' * 88)
print(s.replace('a', np.nan))
print('-' * 88)
print(s.replace(['a', 's'], np.nan))
print('-' * 88)
print(s.replace({'a':'hello world!', 's': 123}))

0    a
1    s
2    c
3    a
4    a
5    z
6    s
7    d
dtype: object
----------------------------------------------------------------------------------------
0    NaN
1      s
2      c
3    NaN
4    NaN
5      z
6      s
7      d
dtype: object
----------------------------------------------------------------------------------------
0    NaN
1    NaN
2      c
3    NaN
4    NaN
5      z
6    NaN
7      d
dtype: object
----------------------------------------------------------------------------------------
0    hello world!
1             123
2               c
3    hello world!
4    hello world!
5               z
6             123
7               d
dtype: object

In [ ]:
'''
数据分组
分组统计-groupby功能
1.根据某些条件将数据进行拆分成组
2.对每个组独立应用函数
3.将结果合并到一个数据结构中
df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
'''

In [123]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df)
print('-' * 88)

print(df.groupby('A'))
print(type(df.groupby('A')))
# 直接分组得到一个groupby对象，是一个中间数据，没有进行计算
print('-' * 88)

a = df.groupby('A').mean()
print(a)
print(type(a))
print(a.columns)
print('-' * 88)

b = df.groupby(['A', 'B']).mean()
print(b)
print(type(b))
print(b.columns)
print('-' * 88)
c = df.groupby(['A'])['D'].mean()  # 以A分组，算D的平均值
print(c)
print(type(c))
# 通过分组后的计算，得到一个新的dataframe
# 默认axis=0,以行来分组
# 可单个或多个([])列分组

     A      B         C         D
0  foo    one  1.067887 -0.579625
1  bar    one  0.916404  0.319441
2  foo    two -0.660043 -0.307959
3  bar  three  0.761195  1.112350
4  foo    two -0.466984 -1.088892
5  bar    two  1.625356 -1.213062
6  foo    one  0.573128 -1.435543
7  foo  three -1.004001  1.240907
----------------------------------------------------------------------------------------
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x117f92400>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
----------------------------------------------------------------------------------------
            C         D
A
bar  1.100985  0.072910
foo -0.098002 -0.434222
<class 'pandas.core.frame.DataFrame'>
Index(['C', 'D'], dtype='object')
----------------------------------------------------------------------------------------
                  C         D
A   B
bar one    0.916404  0.319441
    three  0.761195  1.112350
    two    1.625356 -1.213062
foo one    0.820508 -1.007584
    three -1.004001  1.240907
    two   -0.563513 -0.698425
<class 'pandas.core.frame.DataFrame'>
Index(['C', 'D'], dtype='object')
----------------------------------------------------------------------------------------
A
bar    0.072910
foo   -0.434222
Name: D, dtype: float64
<class 'pandas.core.series.Series'>

In [141]:
# 分组-可迭代对象
df = pd.DataFrame({'X' : ['A', 'B', 'A', 'B'], 'Y' : [1, 4, 3, 2]})
print(df)
print('-' * 88)

print(df.groupby('X'))
print(type(df.groupby('X')))
print('-' * 88)

print(list(df.groupby(['X'])))
print('-' * 88)
print(list(df.groupby(['X']))[0])
print('-' * 88)

for n, g in df.groupby('X'):
    print(n)
    print(g)
    print('#' * 88)
print('-' * 88)

print(df.groupby('X').get_group('A'))
print('-' * 88)
print(df.groupby('X').get_group('B'))
print('-' * 88)

grouped = df.groupby(['X'])
print(grouped.groups)
print(grouped.groups['A'])
print('-' * 88)

sz = grouped.size()
print(sz, type(sz))
print('-' * 88)
# .size():查看分组后的长度

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})

print(df)
print('-' * 88)
grouped = df.groupby(['A', 'B']).groups
print(grouped)
print('-' * 88)
print(grouped[('foo', 'three')])

   X  Y
0  A  1
1  B  4
2  A  3
3  B  2
----------------------------------------------------------------------------------------
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11bfdee80>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
----------------------------------------------------------------------------------------
[('A',    X  Y
0  A  1
2  A  3), ('B',    X  Y
1  B  4
3  B  2)]
----------------------------------------------------------------------------------------
('A',    X  Y
0  A  1
2  A  3)
----------------------------------------------------------------------------------------
A
   X  Y
0  A  1
2  A  3
########################################################################################
B
   X  Y
1  B  4
3  B  2
########################################################################################
----------------------------------------------------------------------------------------
   X  Y
0  A  1
2  A  3
----------------------------------------------------------------------------------------
   X  Y
1  B  4
3  B  2
----------------------------------------------------------------------------------------
{'A': Int64Index([0, 2], dtype='int64'), 'B': Int64Index([1, 3], dtype='int64')}
Int64Index([0, 2], dtype='int64')
----------------------------------------------------------------------------------------
X
A    2
B    2
dtype: int64 <class 'pandas.core.series.Series'>
----------------------------------------------------------------------------------------
     A      B         C        D
0  foo    one -0.495656 0.578177
1  bar    one -0.499253 0.799097
2  foo    two -0.277052 0.601713
3  bar  three  1.925473 1.092230
4  foo    two -0.126627 0.105353
5  bar    two -0.958427 0.631233
6  foo    one  0.676698 1.525677
7  foo  three  0.566116 0.644449
----------------------------------------------------------------------------------------
{('bar', 'one'): Int64Index([1], dtype='int64'), ('bar', 'three'): Int64Index([3], dtype='int64'), ('bar', 'two'): Int64Index([5], dtype='int64'), ('foo', 'one'): Int64Index([0, 6], dtype='int64'), ('foo', 'three'): Int64Index([7], dtype='int64'), ('foo', 'two'): Int64Index([2, 4], dtype='int64')}
----------------------------------------------------------------------------------------
Int64Index([7], dtype='int64')

In [144]:
# 其他轴上的分组
df = pd.DataFrame({'data1':np.random.rand(2),
                  'data2':np.random.rand(2),
                  'key1':['a','b'],
                  'key2':['one','two']})
print(df)
print('-' * 88)
print(df.dtypes)
print('-' * 88)
for n, p in df.groupby(df.dtypes, axis=1):
    print(n)
    print(p)
    print('#' * 88)
# 按照值的类型分列

     data1    data2 key1 key2
0 0.133013 0.810010    a  one
1 0.816748 0.729599    b  two
----------------------------------------------------------------------------------------
data1    float64
data2    float64
key1      object
key2      object
dtype: object
----------------------------------------------------------------------------------------
float64
     data1    data2
0 0.133013 0.810010
1 0.816748 0.729599
########################################################################################
object
  key1 key2
0    a  one
1    b  two
########################################################################################

In [151]:
# 通过字典或者Series分组

df = pd.DataFrame(np.arange(16).reshape(4, 4),
                 columns=['a', 'b', 'c', 'd'])
print(df)
print('-' * 88)
mapping = {'a': 'one', 'b': 'one', 'c': 'two', 'd': 'two', 'e': 'three'}
by_column = df.groupby(mapping, axis=1)
print(by_column.sum())
print('-' * 88)
# mapping中，a、b列对应的为one，c、d列对应的为two,以字典来分组

s = pd.Series(mapping)
print(s)
print('-' * 88)
print(s.groupby(s).count())
# s中，index中a、b对应的为one,c、d对应的为two,以Series来分组

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
----------------------------------------------------------------------------------------
   one  two
0    1    5
1    9   13
2   17   21
3   25   29
----------------------------------------------------------------------------------------
a      one
b      one
c      two
d      two
e    three
dtype: object
----------------------------------------------------------------------------------------
one      2
three    1
two      2
dtype: int64

In [154]:
# 通过函数分组
df = pd.DataFrame(np.arange(16).reshape(4, 4),
                 columns=['a', 'b', 'c', 'd'],
                 index=['abc', 'bcd', 'aa', 'b'])
print(df)
print('-' * 88)
print(df.groupby(len).sum())
# 按照字母长度分组

      a   b   c   d
abc   0   1   2   3
bcd   4   5   6   7
aa    8   9  10  11
b    12  13  14  15
----------------------------------------------------------------------------------------
    a   b   c   d
1  12  13  14  15
2   8   9  10  11
3   4   6   8  10

In [167]:
# 分组计算函数方法
s = pd.Series([1, 2, 3, 10, 20, 30], index=[1, 2, 3, 1, 2, 3])
print(s)
print('-' * 88)
grouped = s.groupby(level=0)  # 唯一索引用.groupby(level=0), 将同一个index的分为一组
print(grouped)
print('-' * 88)
print(grouped.first())  # 非nan的第一个值
print('-' * 88)
print(grouped.last())  # 非nan的最后一个值
print('-' * 88)
print(grouped.sum())
print('-' * 88)
print(grouped.mean())
print('-' * 88)
print(grouped.median())
print('-' * 88)
print(grouped.count())
print('-' * 88)
print(grouped.min())
print('-' * 88)
print(grouped.std())
print('-' * 88)
print(grouped.prod())

1     1
2     2
3     3
1    10
2    20
3    30
dtype: int64
----------------------------------------------------------------------------------------
<pandas.core.groupby.generic.SeriesGroupBy object at 0x1184c6100>
----------------------------------------------------------------------------------------
1    1
2    2
3    3
dtype: int64
----------------------------------------------------------------------------------------
1    10
2    20
3    30
dtype: int64
----------------------------------------------------------------------------------------
1    11
2    22
3    33
dtype: int64
----------------------------------------------------------------------------------------
1    5.500000
2   11.000000
3   16.500000
dtype: float64
----------------------------------------------------------------------------------------
1    5.500000
2   11.000000
3   16.500000
dtype: float64
----------------------------------------------------------------------------------------
1    2
2    2
3    2
dtype: int64
----------------------------------------------------------------------------------------
1    1
2    2
3    3
dtype: int64
----------------------------------------------------------------------------------------
1    6.363961
2   12.727922
3   19.091883
dtype: float64
----------------------------------------------------------------------------------------
1    10
2    40
3    90
dtype: int64

In [172]:
# 多函数计算:agg()

df = pd.DataFrame({'a':[1,1,2,2],
                  'b':np.random.rand(4),
                  'c':np.random.rand(4),
                  'd':np.random.rand(4)})
print(df)
print('-' * 88)
print(df.groupby('a').agg(['mean', np.sum]))
print('-' * 88)
print(df.groupby('a')['b'].agg(result1=np.mean, result2=np.sum))
# 函数写法可以用str,或者np.方法
# 可以通过list，或者直接名称=方法

   a        b        c        d
0  1 0.793542 0.735756 0.475798
1  1 0.480439 0.891998 0.101619
2  2 0.584151 0.599803 0.712602
3  2 0.030295 0.369356 0.972322
----------------------------------------------------------------------------------------
         b                 c                 d
      mean      sum     mean      sum     mean      sum
a
1 0.636990 1.273981 0.813877 1.627755 0.288708 0.577417
2 0.307223 0.614446 0.484579 0.969159 0.842462 1.684924
----------------------------------------------------------------------------------------
   result1  result2
a
1 0.636990 1.273981
2 0.307223 0.614446

In [ ]:
'''
分组转换及一般性
拆分-应用-合并
transform/apply
'''

In [180]:
# 数据分组转换，transform
df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
print(df)
print('-' * 88)
k_mean = df.groupby('key1').mean()
print(k_mean)
print('-' * 88)
print(pd.merge(df, k_mean, left_on='key1', right_index=True).add_prefix('mean_'))
print('-' * 88)
# 通过分组、合并，得到一个包含均值的Dataframe

print(df.groupby('key2').mean())
print('-' * 88)
print(df.groupby('key2').transform(np.mean))
# data1\data2每个位置元素取对应分组列的均值
# 字符串不能进行计算

     data1    data2 key1 key2
0 0.084964 0.697206    a  one
1 0.495050 0.135076    a  two
2 0.744585 0.199464    b  one
3 0.619069 0.200735    b  two
4 0.689346 0.538789    a  one
----------------------------------------------------------------------------------------
        data1    data2
key1
a    0.423120 0.457024
b    0.681827 0.200099
----------------------------------------------------------------------------------------
   mean_data1_x  mean_data2_x mean_key1 mean_key2  mean_data1_y  mean_data2_y
0      0.084964      0.697206         a       one      0.423120      0.457024
1      0.495050      0.135076         a       two      0.423120      0.457024
4      0.689346      0.538789         a       one      0.423120      0.457024
2      0.744585      0.199464         b       one      0.681827      0.200099
3      0.619069      0.200735         b       two      0.681827      0.200099
----------------------------------------------------------------------------------------
        data1    data2
key2
one  0.506298 0.478486
two  0.557060 0.167905
----------------------------------------------------------------------------------------
     data1    data2
0 0.506298 0.478486
1 0.557060 0.167905
2 0.506298 0.478486
3 0.557060 0.167905
4 0.506298 0.478486

In [2]:
# 一般化Groupby方法：apply
df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
print(df)
print('-' * 88)
print(df.groupby('key1').apply(lambda x: x.describe()))
print('-' * 88)
# apply直接运行其中的函数
# 这里为匿名函数，直接描述分组后的统计量

def f_df1(d, n):
    return(d.sort_index()[:n])
def f_df2(d, k1):
    return(d[k1])
print(df.groupby('key1').apply(f_df1, 2))
print('-' * 88)
print(df.groupby('key1').apply(f_df2, 'data2'))

      data1     data2 key1 key2
0  0.319330  0.029756    a  one
1  0.443189  0.402448    a  two
2  0.707473  0.658475    b  one
3  0.318220  0.889125    b  two
4  0.974498  0.155080    a  one
----------------------------------------------------------------------------------------
               data1     data2
key1
a    count  3.000000  3.000000
     mean   0.579005  0.195761
     std    0.348060  0.189647
     min    0.319330  0.029756
     25%    0.381259  0.092418
     50%    0.443189  0.155080
     75%    0.708843  0.278764
     max    0.974498  0.402448
b    count  2.000000  2.000000
     mean   0.512846  0.773800
     std    0.275244  0.163095
     min    0.318220  0.658475
     25%    0.415533  0.716137
     50%    0.512846  0.773800
     75%    0.610160  0.831463
     max    0.707473  0.889125
----------------------------------------------------------------------------------------
           data1     data2 key1 key2
key1
a    0  0.319330  0.029756    a  one
     1  0.443189  0.402448    a  two
b    2  0.707473  0.658475    b  one
     3  0.318220  0.889125    b  two
----------------------------------------------------------------------------------------
key1
a     0    0.029756
      1    0.402448
      4    0.155080
b     2    0.658475
      3    0.889125
Name: data2, dtype: float64

In [ ]:
'''
透视表及交叉表
类似excel数据透视表-pivot table/crosstab
'''

In [7]:
# 透视表:pivot table
# pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')
date = ['2017-5-1', '2017-5-2', '2017-5-3'] * 3
rng = pd.to_datetime(date)
df = pd.DataFrame({'date':rng,
                  'key':list('abcdabcda'),
                  'values':np.random.rand(9)*10})
print(df)
print('-' * 88)
print(pd.pivot_table(df, values='values', index='date', columns='key', aggfunc=np.sum))
print('-' * 88)
# data:DataFrame对象
# values:要聚合的列或列的列表
# index:数据透视表的index，从原数据的列中筛选
# columns:数据透视表的columns,从原数据的列中筛选
# aggfunc:用于聚合的函数，默认为numpy.mean,支持numpy计算方法

print(pd.pivot_table(df, values='values', index=['date', 'key'], aggfunc=len))
# 这里就分别以date、key共同做数据透视，值为values:统计不同(date,key)情况下values的平均值
# aggfunc=len(或者count):计数

        date key    values
0 2017-05-01   a  5.919132
1 2017-05-02   b  0.661931
2 2017-05-03   c  9.340687
3 2017-05-01   d  8.754304
4 2017-05-02   a  5.726845
5 2017-05-03   b  2.373848
6 2017-05-01   c  1.342087
7 2017-05-02   d  3.866428
8 2017-05-03   a  0.521338
----------------------------------------------------------------------------------------
key                a         b         c         d
date
2017-05-01  5.919132       NaN  1.342087  8.754304
2017-05-02  5.726845  0.661931       NaN  3.866428
2017-05-03  0.521338  2.373848  9.340687       NaN
----------------------------------------------------------------------------------------
                values
date       key
2017-05-01 a       1.0
           c       1.0
           d       1.0
2017-05-02 a       1.0
           b       1.0
           d       1.0
2017-05-03 a       1.0
           b       1.0
           c       1.0

In [9]:
# 交叉表:crosstab
# 默认情况下，crosstab计算因子的频率表，比如用于str的数据透视分析
# pd.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, dropna=True, normalize=False)
df = pd.DataFrame({'A':[1, 2, 2, 2, 2],
                  'B': [3, 3, 4, 4, 4],
                  'C': [1, 1, np.nan, 1, 1]})
print(df)
print('-' * 88)
print(pd.crosstab(df['A'], df['B']))
print('-' * 88)
# 如果crosstab只接受两个Series,它将提供一个频率表
# 用A唯一值，统计B唯一值的出现次数

print(pd.crosstab(df['A'], df['B'], normalize=True))
print('-' * 88)
# normalize:默认False,将所有值除以值的总和进行归一化，为True时显示百分比

print(pd.crosstab(df['A'], df['B'], values=df['C'], aggfunc=np.sum))
print('-' * 88)
# values:可选，根据因子聚合的值数组
# aggfunc:可选，如果未传递values数组，则计算频率表，如果传递数组，则按照指定计算
# 这里相当于以A和B界定分组，计算出每组中第三个系列C的值

print(pd.crosstab(df['A'], df['B'], values=df['C'], aggfunc=np.sum, margins=True))
# margins:布尔值，默认为False,添加行列边距(小计)

   A  B    C
0  1  3  1.0
1  2  3  1.0
2  2  4  NaN
3  2  4  1.0
4  2  4  1.0
----------------------------------------------------------------------------------------
B  3  4
A
1  1  0
2  1  3
----------------------------------------------------------------------------------------
B    3    4
A
1  0.2  0.0
2  0.2  0.6
----------------------------------------------------------------------------------------
B    3    4
A
1  1.0  NaN
2  1.0  2.0
----------------------------------------------------------------------------------------
B      3    4  All
A
1    1.0  NaN  1.0
2    1.0  2.0  3.0
All  2.0  2.0  4.0

In [16]:
# 读取普通分隔数据：read_table
data1 = pd.read_table('data1.txt', delimiter=',', header=0, index_col=1)
print(data1)
# delimiter:用于拆分的字符
# header:以哪一行作为表头，默认为第一行
# index_col:指定某列为行索引，否则自动索引0，1

     va1  va3  va4
va2
2      1    3    4
3      2    4    5
4      3    5    6
5      4    6    7

In [18]:
# 读取csv数据:read_csv
data2 = pd.read_csv('data2.csv', engine='python')
print(data2.head())
# engine:使用的分析引擎
# encoding:指定字符集类型
# 大多数情况先将excel导出csv，再读取

                                                                                                省级政区代码
130000 河北省 130100 石家庄市 2000 陈来立 NaN NaN NaN NaN NaN NaN NaN NaN 硕士 1.0 NaN NaN NaN NaN NaN NaN     NaN
                       2001 吴振华 NaN NaN NaN NaN NaN NaN NaN NaN 本科 0.0 0.0 0.0 1.0 0.0 0.0 NaN     NaN
                       2002 吴振华 NaN NaN NaN NaN NaN NaN NaN NaN 本科 0.0 0.0 0.0 1.0 0.0 0.0 NaN     NaN
                       2003 吴振华 NaN NaN NaN NaN NaN NaN NaN NaN 本科 0.0 0.0 0.0 1.0 0.0 0.0 NaN     NaN
                       2004 吴振华 NaN NaN NaN NaN NaN NaN NaN NaN 本科 0.0 0.0 0.0 1.0 0.0 0.0 NaN     NaN

In [28]:
# 读取excel数据:read_excel
data3 = pd.read_excel('data3.xlsx', sheet_name=1, header=0)
print(data3)

      省级政区代码    省级政区名称  地市级政区代码 地市级政区名称    年份 党委书记姓名  出生年份  出生月份  籍贯省份代码  \
0     130000       河北省   130100    石家庄市  2000    陈来立   NaN   NaN     NaN
1     130000       河北省   130100    石家庄市  2001    吴振华   NaN   NaN     NaN
2     130000       河北省   130100    石家庄市  2002    吴振华   NaN   NaN     NaN
3     130000       河北省   130100    石家庄市  2003    吴振华   NaN   NaN     NaN
4     130000       河北省   130100    石家庄市  2004    吴振华   NaN   NaN     NaN
...      ...       ...      ...     ...   ...    ...   ...   ...     ...
3658  650000  新疆维吾尔自治区   654300   阿勒泰地区  2006    NaN   NaN   NaN     NaN
3659  650000  新疆维吾尔自治区   654300   阿勒泰地区  2007    NaN   NaN   NaN     NaN
3660  650000  新疆维吾尔自治区   654300   阿勒泰地区  2008    NaN   NaN   NaN     NaN
3661  650000  新疆维吾尔自治区   654300   阿勒泰地区  2009    NaN   NaN   NaN     NaN
3662  650000  新疆维吾尔自治区   654300   阿勒泰地区  2010    NaN   NaN   NaN     NaN

     籍贯省份名称  ...   民族   教育 是否是党校教育（是=1，否=0） 专业：人文 专业：社科  专业：理工  专业：农科  专业：医科  \
0       NaN  ...  NaN   硕士              1.0   NaN   NaN    NaN    NaN    NaN
1       NaN  ...  NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
2       NaN  ...  NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
3       NaN  ...  NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
4       NaN  ...  NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
...     ...  ...  ...  ...              ...   ...   ...    ...    ...    ...
3658    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3659    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3660    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3661    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3662    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN

      入党年份  工作年份
0      NaN   NaN
1      NaN   NaN
2      NaN   NaN
3      NaN   NaN
4      NaN   NaN
...    ...   ...
3658   NaN   NaN
3659   NaN   NaN
3660   NaN   NaN
3661   NaN   NaN
3662   NaN   NaN

[3663 rows x 23 columns]