In [2]:
# 导包
import numpy as np
import pandas as pd

In [ ]:
'''
Pandas数据结构DataFrame:基本概念及创建
"二维数组"DataFrame:是一个表格型的数据结构，包含一组有序的列， 其列的值类型可以是数值、字符串、布尔值等
DataFrame中的数据以一个或多个二维块存放，不是列表、字典或一维数组结构
'''

In [6]:
# DataFrame数据结构
# DataFrame是一个表格型的数据结构，"带有标签的二维数组"
# DataFrame带有index(行标签)和columns(列标签)
data = {'name':['Jack', 'Tom', 'Marry'],
       'age':[18, 19, 20],
       'gender':['m', 'm', 'w']}
frame = pd.DataFrame(data)
print(frame)
print(type(frame))
print(frame.index,'该数据的类型为:', type(frame.index))
print(frame.columns, '该数据的类型为:', type(frame.columns))
print(frame.values, '该数据的类型为:', type(frame.values))

    name  age gender
0   Jack   18      m
1    Tom   19      m
2  Marry   20      w
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1) 该数据的类型为: <class 'pandas.core.indexes.range.RangeIndex'>
Index(['name', 'age', 'gender'], dtype='object') 该数据的类型为: <class 'pandas.core.indexes.base.Index'>
[['Jack' 18 'm']
 ['Tom' 19 'm']
 ['Marry' 20 'w']] 该数据的类型为: <class 'numpy.ndarray'>

In [16]:
# DataFrame创建方法一:由数组/list组成的字典
# 创建方法:pandas.DataFrame()
data1 = {'a':[1, 2, 3],
        'b':[3, 4, 5],
        'c':[6, 7, 8]}
df1 = pd.DataFrame(data1)
print(df1)
print('-------------------')
data2 = {'one':np.random.rand(3),
        'two':np.random.rand(3)}  # 如果这里填4会报错，列数必须都一样
df2 = pd.DataFrame(data2)
print(df2)
print('-------------------')
# 由数组/list组成的字典 创建Dataframe,columns为字典的key，index默认为数字标签

df1 = pd.DataFrame(data1, columns=['b','c', 'a', 'd'])
print(df1)
print('-------------------')
df1 = pd.DataFrame(data1, columns=['b','c'])
print(df1)
print('-------------------')
# columns参数:可以重新指定列的顺序，格式为list,如果现有数据中没有该列(比如'd'),则产生NaN值
# 如果columns重新指定时，列的数量可以少于原数据

df2 = pd.DataFrame(data2, index=['f1', 'f2', 'f3'])  # 3行数据，索引必须是3个，否则会报错
print(df2)
# index参数:重新定义index，格式为list，长度必须保持一致

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8
-------------------
        one       two
0  0.985807  0.792864
1  0.001738  0.266495
2  0.396015  0.098811
-------------------
   b  c  a    d
0  3  6  1  NaN
1  4  7  2  NaN
2  5  8  3  NaN
-------------------
   b  c
0  3  6
1  4  7
2  5  8
-------------------
         one       two
f1  0.985807  0.792864
f2  0.001738  0.266495
f3  0.396015  0.098811

In [23]:
# DataFrame创建方法二:由Series组成的字典
data1 = {'one':pd.Series(np.random.rand(2)),
        'two':pd.Series(np.random.rand(3))}  
df1 = pd.DataFrame(data1)  # 没有设置index的Series
print(df1)
print('-----------------')
data2 = {'one':pd.Series(np.random.rand(2), index=['a', 'b']),
      'two':pd.Series(np.random.rand(3), index=['a', 'b', 'c'])}
df2 = pd.DataFrame(data2)
print(df2)
# 由Series组成的字典，创建DataFrame,columns为字典key,index为Series的标签(如果Series没有指定标签，则是默认数字标签)
# Series可以长度不一样，生成的DataFrame会出现NaN值

        one       two
0  0.652144  0.113194
1  0.905566  0.690547
2       NaN  0.106681
-----------------
        one       two
a  0.561719  0.638775
b  0.993430  0.423519
c       NaN  0.708042

In [32]:
# DataFrame创建方法三:通过二维数组直接创建
ar = np.arange(9).reshape(3, 3)
print(ar)
df1 = pd.DataFrame(ar)
print(df1)
df2 = pd.DataFrame(ar, index=['a', 'b', 'c'], columns=['one', 'two', 'three'])
print(df2)
# 通过二维数组直接创建DataFrame,得到一样形状的结果数据，如果不指定index和columns，两者均返回数字格式
# index和columns指定长度与原数组保持一致

[[0 1 2]
 [3 4 5]
 [6 7 8]]
   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8
   one  two  three
a    0    1      2
b    3    4      5
c    6    7      8

In [38]:
# DataFrame创建方法四：由字典组成的列表
data = [{'one':1, 'two':2}, {'one':5, 'two':10, 'three':20}]
df1 = pd.DataFrame(data)
print(df1)
df2 = pd.DataFrame(data, index=['a', 'b'])
print(df2)
df3 = pd.DataFrame(data, columns=['one', 'two'])
print(df3)
# 由字典组成的列表创建Dataframe,columns为字典中的key，index不做指定则为默认数子标签
# columns和index参数分别重新指定相应列及行标签

   one  two  three
0    1    2    NaN
1    5   10   20.0
   one  two  three
a    1    2    NaN
b    5   10   20.0
   one  two
0    1    2
1    5   10

In [42]:
# DataFrame创建方法五:由字典组成的字典
data = {'Jack':{'math':90, 'english':89, 'art':78},
       'Marry':{'math':89, 'english':66, 'art':79},
       'Tom':{'math':100, 'english':98, 'art':99}}
df1 = pd.DataFrame(data)
print(df1)
# 由字典组成的字典创建dataframe，columns为字典的columns，index为子字典的key
df2 = pd.DataFrame(data, columns=['Jack', 'Tom', 'Bob'])
print(df2)
df3 = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df3)
# columns参数可以增加和减少现有列，如出现新的列，值为NaN
# index和之前不同，并不能改变原有index，如果指向新的标签，值为NaN

         Jack  Marry  Tom
math       90     89  100
english    89     66   98
art        78     79   99
         Jack  Tom  Bob
math       90  100  NaN
english    89   98  NaN
art        78   99  NaN
   Jack  Marry  Tom
a   NaN    NaN  NaN
b   NaN    NaN  NaN
c   NaN    NaN  NaN

In [ ]:
'''
Pandas数据结构DataFrame:索引
DataFrame既有行索引也有列索引，可以被看作由Series组成的字典
选择行/选择列/切片/布尔判断
'''

In [48]:
# 选择行与列
df = pd.DataFrame(np.random.rand(12).reshape(3, 4)*100, index=['one', 'two', 'three'], columns=['a', 'b', 'c', 'd'])
print(df)
print('-----------------------')
data1 = df['a']
print(data1, type(data1))
print('-----------------------')
data2 = df[['a', 'c']]
print(data2, type(data2))
print('-----------------------')
# 按照列名选择列，只选择一列的话是Series,选择多列的话是DataFrame

data3 = df.loc['one']
print(data3, type(data3))
print('-----------------------')
data4 = df.loc[['one', 'two']]
print(data4, type(data4))
# 按照index选择行，只选择一行是Series,选择多行的话是DataFrame

               a          b          c          d
one    18.777383  27.658031  69.225663  26.598764
two    37.064532  51.123073  61.225125  67.628596
three  20.555451  90.716708  24.180101  51.503893
-----------------------
one      18.777383
two      37.064532
three    20.555451
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
-----------------------
               a          c
one    18.777383  69.225663
two    37.064532  61.225125
three  20.555451  24.180101 <class 'pandas.core.frame.DataFrame'>
-----------------------
a    18.777383
b    27.658031
c    69.225663
d    26.598764
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
-----------------------
             a          b          c          d
one  18.777383  27.658031  69.225663  26.598764
two  37.064532  51.123073  61.225125  67.628596 <class 'pandas.core.frame.DataFrame'>

In [4]:
# df[]-选择列
# 一般用于选择列，也可以选择行
df = pd.DataFrame(np.random.rand(12).reshape(3, 4)*100, index=['one', 'two', 'three'], columns=['a', 'b', 'c', 'd'])
print(df)
print('------------------')
data1 = df['a']
print(data1)
print('------------------')
data2 = df[['b','c']]
print(data2)
# df[]默认选择列,[]中写列名(所以一般数据columns都会单独制定，不会用默认的数字列名，以免和index冲突)
# 单选列为Series，print结果为Series
# 多选列为DataFrame，print结果为DataFrame
print('------------------')
data3 = df[:1]
print(data3, type(data3))
# df[]中为数字时，默认选择行，且只能进行切片的选择，不能单独选择
# 输出结果为DataFrame,即便只选择一行
# df[]不能通过索引标签名来选择行

# 核心笔记:df[col]一般用于选择列，[]中写列名

               a          b          c          d
one    11.469456  62.402477  37.503974  81.272870
two    34.697536  32.275451  70.643489  68.651999
three  89.588923  30.090688  41.933236  25.281275
------------------
one      11.469456
two      34.697536
three    89.588923
Name: a, dtype: float64
------------------
               b          c
one    62.402477  37.503974
two    32.275451  70.643489
three  30.090688  41.933236
------------------
             a          b          c         d
one  11.469456  62.402477  37.503974  81.27287 <class 'pandas.core.frame.DataFrame'>

In [16]:
# df.loc[] —— 按index选择行
df1 = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                  index=['one', 'two', 'three', 'four'],
                  columns=['a', 'b', 'c', 'd'])
print(df1)
print("---------------------------------")
df2 = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                  columns=['a','b', 'c', 'd'])
print(df2)
print("---------------------------------")
print(df1.loc['one'])
print('---------------------------------')
print(df2.loc[1])
print('---------------------------------')
# 单个标签索引，返回Series
data3 = df1.loc[['one', 'two', 'four']]
print(data3)
print('---------------------------------')
data4 = df2.loc[[2, 3]]
print(data4)
# 多个标签索引，如果标签不存在，则返回NaN，顺序可变
print('---------------------------------')
data5 = df1.loc['one':'three']
print(data5)
print('---------------------------------')
data6 = df2.loc[1:3]
print(data6)
# 切片索引:可以做切片对象
# 末端包含

# 核心笔记:df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index

               a          b          c          d
one    68.808152  46.350717  68.539346  60.042865
two    96.183586  94.363484  99.691473  39.652729
three  34.748326  14.271360  36.610136  75.672255
four   26.734787  50.800323  82.626923   4.620578
---------------------------------
           a          b          c          d
0  71.487789  32.503402  71.034044  35.238322
1  77.935070  47.024348  20.037955  89.112276
2  30.455612  81.806609  22.260919  35.415864
3  38.940376  54.975098  33.778128  72.158801
---------------------------------
a    68.808152
b    46.350717
c    68.539346
d    60.042865
Name: one, dtype: float64
---------------------------------
a    77.935070
b    47.024348
c    20.037955
d    89.112276
Name: 1, dtype: float64
---------------------------------
              a          b          c          d
one   68.808152  46.350717  68.539346  60.042865
two   96.183586  94.363484  99.691473  39.652729
four  26.734787  50.800323  82.626923   4.620578
---------------------------------
           a          b          c          d
2  30.455612  81.806609  22.260919  35.415864
3  38.940376  54.975098  33.778128  72.158801
---------------------------------
               a          b          c          d
one    68.808152  46.350717  68.539346  60.042865
two    96.183586  94.363484  99.691473  39.652729
three  34.748326  14.271360  36.610136  75.672255
---------------------------------
           a          b          c          d
1  77.935070  47.024348  20.037955  89.112276
2  30.455612  81.806609  22.260919  35.415864
3  38.940376  54.975098  33.778128  72.158801

In [26]:
# df.iloc[]——按照整数位置(从轴的0到length-1)选择行
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计
df = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                 index=['one', 'two', 'three', 'four'],
                 columns=['a','b','c','d'])
print(df)
print('---------------------------------')
print(df.iloc[0])
print('---------------------------------')
print(df.iloc[-1])
print('---------------------------------')
# 单位索引
# 和loc索引不同，不能索引超出数据行数的整数位置
print(df.iloc[[0,2]])
print(df.iloc[[3, 2, 1]])
# 多位置索引
# 顺序可变
print('---------------------------------')
print(df.iloc[1:3])
print(df.iloc[::2])
# 切片索引
# 末端不包含

               a          b          c          d
one    53.237739  37.750712  49.389210   1.544685
two    80.769253  79.759025  91.333117  66.196172
three  68.386438  58.251960  69.028358   9.936897
four    0.052506  70.267964  26.971779  64.315293
---------------------------------
a    53.237739
b    37.750712
c    49.389210
d     1.544685
Name: one, dtype: float64
---------------------------------
a     0.052506
b    70.267964
c    26.971779
d    64.315293
Name: four, dtype: float64
---------------------------------
               a          b          c         d
one    53.237739  37.750712  49.389210  1.544685
three  68.386438  58.251960  69.028358  9.936897
               a          b          c          d
four    0.052506  70.267964  26.971779  64.315293
three  68.386438  58.251960  69.028358   9.936897
two    80.769253  79.759025  91.333117  66.196172
---------------------------------
               a          b          c          d
two    80.769253  79.759025  91.333117  66.196172
three  68.386438  58.251960  69.028358   9.936897
               a          b          c         d
one    53.237739  37.750712  49.389210  1.544685
three  68.386438  58.251960  69.028358  9.936897

In [39]:
# 布尔型索引
# 和Series原理相同
df = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                 index=['one','two','three','four'],
                 columns=['a', 'b', 'c', 'd'])
print(df)
print('---------------------------------')
b1 = df < 20
print(b1, type(b1))
print('---------------------------------')
print(df[b1])
# 索引会对数据每个值进行判断，True返回原数据，False返回NaN
print('---------------------------------')
b2 = df['a'] < 50
print(b2, type(b2))
print(df[b2])
# 单列做判断，索引结果保留所有数据，单列判断为True的，包括其他列
print('---------------------------------')
b3 = df[['a', 'b']] > 50
print(b3, type(b3))
print(df[b3])
# 多列做判断
# 索引结果保留所有的数据:True返回原数据，False返回NaN
print('---------------------------------')
b4 = df.loc[['one', 'three']] < 50
print(b4, type(b4))
print(df[b4])
# 多行判断
# 索引结果保留所有数据:True保留原数据，False显示为NaN

               a          b          c          d
one    71.066853  59.141428   0.766143  86.666317
two    40.398047  24.095389  23.659798  36.418684
three  40.066088  50.296723  10.978643  38.312070
four   33.273332  17.528489  70.165198  98.047794
---------------------------------
           a      b      c      d
one    False  False   True  False
two    False  False  False  False
three  False  False   True  False
four   False   True  False  False <class 'pandas.core.frame.DataFrame'>
---------------------------------
        a          b          c   d
one   NaN        NaN   0.766143 NaN
two   NaN        NaN        NaN NaN
three NaN        NaN  10.978643 NaN
four  NaN  17.528489        NaN NaN
---------------------------------
one      False
two       True
three     True
four      True
Name: a, dtype: bool <class 'pandas.core.series.Series'>
               a          b          c          d
two    40.398047  24.095389  23.659798  36.418684
three  40.066088  50.296723  10.978643  38.312070
four   33.273332  17.528489  70.165198  98.047794
---------------------------------
           a      b
one     True   True
two    False  False
three  False   True
four   False  False <class 'pandas.core.frame.DataFrame'>
               a          b   c   d
one    71.066853  59.141428 NaN NaN
two          NaN        NaN NaN NaN
three        NaN  50.296723 NaN NaN
four         NaN        NaN NaN NaN
---------------------------------
           a      b     c      d
one    False  False  True  False
three   True  False  True   True <class 'pandas.core.frame.DataFrame'>
               a   b          c         d
one          NaN NaN   0.766143       NaN
two          NaN NaN        NaN       NaN
three  40.066088 NaN  10.978643  38.31207
four         NaN NaN        NaN       NaN

In [46]:
# 多重索引:比如同时索引行和列
# 先选择列在选择行——相当于对于一个数据先筛选字段，在选择数据量
df = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                 index=['one', 'two', 'three', 'four'],
                 columns=['a', 'b', 'c', 'd'])
print(df)
print('---------------------------------')
# 选择a列的one, three行
print(df['a'].loc[['one', 'three']])
print('---------------------------------')
# 选择b,c,d列的one,three行
print(df[['b', 'c', 'd']].loc[['one', 'three']])
print('---------------------------------')
# 选择满足判断索引的前两行数据
print(df[df['a'] > 50].iloc[:2])

               a          b          c          d
one     9.167883  50.974111  27.694958  84.689732
two    10.528335  73.126754  19.146482  45.011119
three  58.738504  64.575376  17.662986  36.617455
four   92.242460  17.494381  22.148469  86.654337
---------------------------------
one       9.167883
three    58.738504
Name: a, dtype: float64
---------------------------------
               b          c          d
one    50.974111  27.694958  84.689732
three  64.575376  17.662986  36.617455
---------------------------------
               a          b          c          d
three  58.738504  64.575376  17.662986  36.617455
four   92.242460  17.494381  22.148469  86.654337

In [ ]:
'''
Pandas数据结构:DataFrame:基本技巧
数据查看、转置/添加、修改、删除/对齐/排序
'''

In [52]:
# 数据查看(和Series一样)、转置
df = pd.DataFrame(np.random.rand(16).reshape(8,2)*100,
                 columns=['a', 'b'])
print(df)
print('---------------------------------')
print(df.head(2))
print('---------------------------------')
print(df.tail())
print('---------------------------------')
# 默认查看5条信息
print(df.T)
# .T转置

           a          b
0  57.851824  26.603695
1  36.132461   8.958728
2  39.674020  95.503919
3  29.075737  48.677877
4   8.743333  59.790162
5  19.542538  36.689369
6   0.422439  39.197357
7  35.496965  82.033152
---------------------------------
           a          b
0  57.851824  26.603695
1  36.132461   8.958728
---------------------------------
           a          b
3  29.075737  48.677877
4   8.743333  59.790162
5  19.542538  36.689369
6   0.422439  39.197357
7  35.496965  82.033152
---------------------------------
           0          1          2          3          4          5  \
a  57.851824  36.132461  39.674020  29.075737   8.743333  19.542538
b  26.603695   8.958728  95.503919  48.677877  59.790162  36.689369

           6          7
a   0.422439  35.496965
b  39.197357  82.033152

In [57]:
# 添加与修改
df = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                 columns=['a', 'b', 'c', 'd'])
print(df)
print('---------------------------------')
df['e'] = 10
print(df)
print('---------------------------------')
df.loc[4] = 20
print(df)
# 新增行/列
print('---------------------------------')

df['e'] = 20
print(df)
print('---------------------------------')
df[['a', 'c']] = 200
print(df)
# 索引后直接修改值

           a          b          c          d
0  43.309364  72.252103  20.703364  13.293577
1  39.820184  83.837951  59.375819  44.070998
2  63.124216  76.189485  89.397265  29.807493
3  85.243404   0.406770  77.677830  81.764167
---------------------------------
           a          b          c          d   e
0  43.309364  72.252103  20.703364  13.293577  10
1  39.820184  83.837951  59.375819  44.070998  10
2  63.124216  76.189485  89.397265  29.807493  10
3  85.243404   0.406770  77.677830  81.764167  10
---------------------------------
           a          b          c          d   e
0  43.309364  72.252103  20.703364  13.293577  10
1  39.820184  83.837951  59.375819  44.070998  10
2  63.124216  76.189485  89.397265  29.807493  10
3  85.243404   0.406770  77.677830  81.764167  10
4  20.000000  20.000000  20.000000  20.000000  20
---------------------------------
           a          b          c          d   e
0  43.309364  72.252103  20.703364  13.293577  20
1  39.820184  83.837951  59.375819  44.070998  20
2  63.124216  76.189485  89.397265  29.807493  20
3  85.243404   0.406770  77.677830  81.764167  20
4  20.000000  20.000000  20.000000  20.000000  20
---------------------------------
     a          b    c          d   e
0  200  72.252103  200  13.293577  20
1  200  83.837951  200  44.070998  20
2  200  76.189485  200  29.807493  20
3  200   0.406770  200  81.764167  20
4  200  20.000000  200  20.000000  20

In [73]:
# 删除
df = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                 columns=['a', 'b', 'c', 'd'])
print(df)
print('---------------------------------')
del df['a']
print(df)
# del语句用于删除列
print('---------------------------------')

print(df.drop(0))
print(df)
print('---------------------------------')
print(df.drop([1,2]))
print('---------------------------------')
# drop()删除行，inplace=False(默认),删除后生成新的数据，不改变原数据
print(df.drop(['d'], axis=1))
print(df)
# drop()删除列，需要加上axis=1,inplace=False:删除后生成的新的数据，不改变原数据

           a          b          c          d
0  68.242162  43.708993  16.545467  49.253278
1  56.602496  42.882663   1.107691  88.081967
2  49.359687  37.855280  56.889129  59.071702
3  19.025579  91.597297  32.864632  81.368523
---------------------------------
           b          c          d
0  43.708993  16.545467  49.253278
1  42.882663   1.107691  88.081967
2  37.855280  56.889129  59.071702
3  91.597297  32.864632  81.368523
---------------------------------
           b          c          d
1  42.882663   1.107691  88.081967
2  37.855280  56.889129  59.071702
3  91.597297  32.864632  81.368523
           b          c          d
0  43.708993  16.545467  49.253278
1  42.882663   1.107691  88.081967
2  37.855280  56.889129  59.071702
3  91.597297  32.864632  81.368523
---------------------------------
           b          c          d
0  43.708993  16.545467  49.253278
3  91.597297  32.864632  81.368523
---------------------------------
           b          c
0  43.708993  16.545467
1  42.882663   1.107691
2  37.855280  56.889129
3  91.597297  32.864632
           b          c          d
0  43.708993  16.545467  49.253278
1  42.882663   1.107691  88.081967
2  37.855280  56.889129  59.071702
3  91.597297  32.864632  81.368523

In [75]:
# 对齐
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df1 + df2)
# DataFrame对象之间的数据自动按照列和索引对齐

          A         B         C   D
0  0.051778  2.356287 -2.206057 NaN
1  1.508150  0.674072 -0.669915 NaN
2 -2.400875  3.673236  1.018994 NaN
3  0.442102 -1.543074  1.684739 NaN
4  2.021354 -0.377878  2.479700 NaN
5  1.375418  2.091205 -0.610433 NaN
6  1.342832  0.713655 -0.322232 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [81]:
# 排序1——按置排序 .sort_values
# 同样适用于Series
df1 = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                  columns=['a','b','c','d'])
print(df1)
print('---------------------------------')
print(df1.sort_values(['a'], ascending=True))  # 升序
print('---------------------------------')
print(df1.sort_values(['a'], ascending=False))  # 降序
print('---------------------------------')
# 单列排序

df2 = pd.DataFrame({'a':[1, 1, 1, 1, 2, 2, 2, 2],
                   'b':list(range(8)),
                   'c':list(range(8, 0, -1))})
print(df2)
print('---------------------------------')
print(df2.sort_values(['a', 'c']))
# 多列排序，按列排序

           a          b          c          d
0  62.013327  77.116240  29.401630  43.866578
1  26.866149  73.835662  47.398042  55.866090
2  73.652101  28.723194  54.777990  73.265195
3  83.252285  66.635384  25.527559  57.404796
---------------------------------
           a          b          c          d
1  26.866149  73.835662  47.398042  55.866090
0  62.013327  77.116240  29.401630  43.866578
2  73.652101  28.723194  54.777990  73.265195
3  83.252285  66.635384  25.527559  57.404796
---------------------------------
           a          b          c          d
3  83.252285  66.635384  25.527559  57.404796
2  73.652101  28.723194  54.777990  73.265195
0  62.013327  77.116240  29.401630  43.866578
1  26.866149  73.835662  47.398042  55.866090
---------------------------------
   a  b  c
0  1  0  8
1  1  1  7
2  1  2  6
3  1  3  5
4  2  4  4
5  2  5  3
6  2  6  2
7  2  7  1
---------------------------------
   a  b  c
3  1  3  5
2  1  2  6
1  1  1  7
0  1  0  8
7  2  7  1
6  2  6  2
5  2  5  3
4  2  4  4

In [85]:
# 排序2——索引排序 .sort_index
df1 = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                  index=[5, 4, 3, 2],
                  columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                  index=list('hsxg'),
                  columns=list('abcd'))
print(df1)
print('---------------------------------')
print(df2)
print('---------------------------------')
print(df1.sort_index())
print('---------------------------------')
print(df2.sort_index())

           a          b          c          d
5  62.692195  21.101048  11.079773  96.970036
4  26.769127  16.429974  41.483796   7.192181
3  85.276617   4.481154  23.334201  64.756279
2  70.719603  27.533452  43.864488  58.719950
---------------------------------
           a          b          c          d
h  98.418746   8.870970  29.311814  71.523800
s  83.538157  32.095968  93.498496  35.356846
x  45.033942  91.728574  86.267344  48.501379
g  33.019446  40.968192  22.408349  50.982044
---------------------------------
           a          b          c          d
2  70.719603  27.533452  43.864488  58.719950
3  85.276617   4.481154  23.334201  64.756279
4  26.769127  16.429974  41.483796   7.192181
5  62.692195  21.101048  11.079773  96.970036
---------------------------------
           a          b          c          d
g  33.019446  40.968192  22.408349  50.982044
h  98.418746   8.870970  29.311814  71.523800
s  83.538157  32.095968  93.498496  35.356846
x  45.033942  91.728574  86.267344  48.501379